<div class="navbar-header">
		<a class="navbar-brand" href="/">LUORIGONG</a>
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/page/cluster/home.htm">集群信息</a></li>
			<li class=""><a href="/page/resource/home.htm">资源管理</a></li>
			<li class=""><a href="/page/deploy/home.htm">集群交付</a></li>
			<li class=""><a href="/page/project/list.htm">项目管理</a></li>
			<li class=""><a href="/page/workflow/template.htm">工作流模版</a></li>
			<li class=""><a href="/page/workflow/workflowInst.htm">工作流实例</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">返回首页</a></li>
        </ul>
	</div><!-- /.navbar-collapse -->
</div>
</nav>
